<%- include("templates/encabezado") %>
<%- include("templates/menu") %>
        <main>
            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>
                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="/login" method="post" class="formulario__login">
                        <h2>Iniciar Sesión</h2>
                        <input type="text" id="expediente" name="expediente" placeholder="Expediente de Alumno">
                        <input type="password" id="password" name="password" placeholder="Contraseña">
                        <button type="submit">Entrar</button>
                    </form>
                    <!--Register-->
                    <form action="/register" method="post" class="formulario__register">
                        <h2>Regístrarse</h2>
                        <input type="text" id="expediente" name="expediente" placeholder="Expediente">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
                        <input type="password" id="password" name="password" placeholder="Contraseña">
                        <button type="submit">Regístrarse</button>
                    </form>
                </div>
            </div>
        </main>
<%- include("templates/pie") %>
