<center>
<a href="/" class="menu-link">Inicio</a> | 
<a href="/login" class="menu-link">Login</a> | 
<a href="/bienvenido" class="menu-link">Datos</a> |  
<a href="/logout" class="menu-link">Cerrar sesión</a>
</center>